@tailwind base;
@tailwind components;
@tailwind utilities;

.pts-24 {
  font-size: 24px;
  line-height: 28px;
}
.pts-20 {
  font-size: 20px;
  line-height: 24px;
}
.pts-40 {
  font-size: 40px;
  line-height: 50px;
}
.pts-48 {
  font-size: 48px;
  line-height: 60px;
}
.pts-80 {
  font-size: 80px;
}

html {
  scroll-behavior: smooth;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 700px;
}
